# Server
PORT=3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/pharmabag

# JWT
JWT_SECRET=supersecret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# AWS S3
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-south-1
AWS_BUCKET=pharmabag-images
